.top-bg {
	background-image: url(top_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 8px;
	background-attachment: fixed;


}
.menu-bg {
	background-image: url(bottom_bg.gif);
	padding-left: 5px;
}
.border-left {
	font-size: 5px;
	background-image: url(border_r2_c1.gif);
	background-repeat: repeat-y;
}
.border-right {
	background-image: url(border_r2_c3.gif);
	background-repeat: repeat-y;
	background-position: right;


}
.menu-text {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #0066CC;
	text-decoration: none;
}
.title-en {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #0033CC;
	text-decoration: none;
	padding-left: 5px;
}
.status {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
.en11px {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	color: #000000;
	padding-left: 5px;

}
.en11pxb {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding-left: 5px;
}
fieldset{
	border-color : blue blue blue blue;
	border : solid;
	border-top-width : thin;
	border-bottom-width : thin;
	border-left-width : thin;
	border-right-width : thin;
}
legend{
	font-family: "vernada","Arial", "Helvetica", "sans-serif", "ו";
	font-size : 12px;
	font-weight : bold;
	color : #0033CC;
	font-style : none;
	text-align : left;
}
.input {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	border: 1px solid #999999;
	padding-left: 5px;
	background-color: #F9F9F9;


}
.en11pxb-white {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.button-text {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.a:link.button-text {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.a:hover.button-text {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.a:visited.button-text {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
en8px {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 8px;
}
.en8px {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 8px;
}
