.errorMessage { 
	border-style: solid; 
	border-width: 1px;
	border-color: #c00; 
	background-color: #fcc; 
	text-align:left; 
	margin-top: 5px; 
	margin-bottom: 5px
}

.successMessage { 
	border-style: solid; 
	border-width: 1px;
	border-color: #F0C000; 
	background-color: #FFFFCE; 
	text-align:left; 
	margin-top: 5px; 
	margin-bottom: 5px
}

.errorText {
	font-family: "ו", "Verdana", "Arial", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: red;
	text-decoration: none;
}
.eventText {
	font-family: "ו", "Verdana", "Arial", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: blue;
	text-decoration: none;
}

ul, ol {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

ul.button {
	float: left; 
	padding: 0; 
	margin: 0px 0px -1px 1px; 
	position: relative; 
	list-style: none outside; 
	z-index: 50
}

ul.button li {
	margin-right: 8px; 
	float: left
}

ul.button li a {
	color: #000; 
	padding: 0; 
	display: block; 
	background: url(../images/button_left.gif) no-repeat left top
}

ul.button li a span {
	padding: 4px 8px; 
	display: block; 
	background: url(../images/button_right.gif) no-repeat right top
}

.tablelistchecked {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	font-weight: normal;
	background-color: #A3BE93;
	color: #000000;
	text-decoration: none;
	padding-left: 5px;	
	text-align: left;
}

.hand {
	cursor: pointer;	
}

.finish {
	color: Red;
}

.cabinet {
	color: Brown;
}

.fabrepair {
	color: Green;
}

.scrap {
	color: Fuchsia;
}

.onlineScrap {
	color: Red;
}

.generalScrap {
	color: Goldenrod;
}

.vendor {
	color: Blue;
}